:root {
  --font-color: #293c55;
  --background-color: white;
  --background-color-secondary: #293c55;
  --border-radius: 16px;
  --navbar-height: 60px;
  --footer-height: 24px;
  --border-color: #e5e7eb;
  --padding: 200px;
  --page-padding: 40px var(--padding);
  --secondary-color: #fb0069;
}

button {
  background-color: var(--secondary-color);
  border-radius: 100px;
  color: white;
}

body {
  line-height: 1.6;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.react_echarts__main {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: var(--navbar-height) 1fr;
  overflow: hidden;
  background-color: var(--background-color);
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.1) 5%,
      transparent 5%
    ),
    radial-gradient(circle, rgba(0, 0, 0, 0.1) 5%, transparent 5%);
  background-size: 25px 25px;
  background-position: 0 0, 0 0;
}

@media (max-width: 600px) {
  :root {
    --padding: 20px;
    --page-padding: 10px var(--padding);
  }
}

@media (max-width: 968px) and (min-width: 600px) {
  :root {
    --padding: 100px;
    --page-padding: 20px var(--padding);
  }
}


@media (min-width: 1400px) {
  :root {
    --padding: 400px;
    --page-padding: 20px var(--padding);
  }
}