:root {
  --font-color: black;
  --background-color: white;
  --border-radius: 16px;
  --navbar-height: 60px;
  --border-color: #e5e7eb;
  --padding: 200px;
  --page-padding: 40px var(--padding);
}

body {
  line-height: 1.6;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}


.react_echarts__main {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: var(--navbar-height) 1fr;
  overflow: hidden;
   background-color: var(--background-color);
  background-image: radial-gradient(circle, rgba(0,0,0,0.1) 5%, transparent 5%), radial-gradient(circle, rgba(0,0,0,0.1) 5%, transparent 5%);
  background-size: 25px 25px;
  background-position: 0 0, 0 0;
}

