footer {
  background-color: var(--background-color-secondary);
  color: white;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 12px;
  position: fixed;
  right: 0;
  bottom: 24px;
  width: 300px;
  z-index: 999;
  border-radius: 8px 0 0 8px;
}

footer a {
color: white !important;
}