html,
article.nextra-body-typesetting-article {
  font-size: 14px !important;
}

td,
th {
  border: none;
}

tr {
  background-color: transparent !important;
}

table * {
  border-color: rgba(134, 152, 165, 0.1) !important;
}

pre {
  background-color: rgba(134, 152, 165, 0.1) !important;
}
