.react_echarts__docs {
  padding: var(--page-padding);
  grid-template-columns: 160px 1fr;
  display: grid;
  overflow: auto;
  gap: 20px;
  padding-bottom: 0;
  padding-top: 0;
}

.react_echarts__docs > div {
  padding-top: 40px;
  padding-bottom: 40px;
}

.react_echarts__docs__content {
  overflow: auto; 
}

.react_echarts__docs__sidebar {
  overflow: auto;
  display: flex;
  flex-direction: column;
  /* border-right: 1px solid var(--border-color); */
}

.react_echarts__docs__sidebar a {
  color: var(--font-color);
}

.react_echarts__docs__sidebar ul {
  margin: 0
}

.react_echarts__docs__sidebar li {
  margin: 0;
  font-size: 16px;
}
