header {
  z-index: 1;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--navbar-height);
  border-bottom: 1px solid var(--border-color);
  padding: 0 var(--padding);
  top: 0;
  background-color: var(--background-color);
}

header a {
  text-decoration: none;
  padding: 0 12px;
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 100%;
  color: var(--font-color);
  justify-content:center;
}

header a:hover {
  text-decoration: none;
}

header a.active {
  font-weight: 600;
}

