.react_echarts__home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}

.react_echarts__home_header {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 100%;
  text-align: center;
  color: white;
  height: inherit;
}

.react_echarts__home_header > h1 {
    text-shadow: 0px 12px 20px rgba(0, 0, 0, 0.35);
  font-size: 72px;
  margin: 0
}

.react_echarts__home_header > span {
  font-size: 26px;
  color: rgba(255,255,255,0.95)
}

.react_echarts__home_header_buttons {
  padding-top: 50px;
}

.react_echarts__home_header_buttons button {
  width: 200px;
  margin-left: 8px;
}

.react_echarts__home_description {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 100px 5vw;
  padding-top: 0;
  gap: 12px
}

.react_echarts__home_description > article {
  text-align: center;
}


.react_echarts__home_description > article > span {
  color: grey
}
